- name: this is for master kubernetes
  hosts: master
  vars:
    node_hostname: "master"
    kube_join_role: master

  roles:
    - k8s-node-setup
    - kubeadm
    - cni
    - join

- name: this is for workers kubernetes
  hosts: workers
  gather_facts: true
  become: true
  vars:
    node_hostname: "worker{{ ansible_play_hosts.index(inventory_hostname) + 1 }}"
    kube_join_role: worker
  roles:
    - k8s-node-setup
    - join

